<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [1]:
import pandas as pd

Load the dataset into a dataframe.

In [2]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [9]:
# your code goes here
num_duplicate_rows = df.duplicated().sum()

print("Number of Duplicate Rows:", num_duplicate_rows)

Number of Duplicate Rows: 154

In [25]:
df.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
1,9,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,New Zealand,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,23.0,Man,No,Bisexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
2,13,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Cour...,28.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
3,16,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United Kingdom,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,26.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
4,17,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Australia,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,29.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;Multiracial,No,Appropriate in length,Easy

In [10]:
df.shape

(11552, 85)

In [20]:
#df['Respondent'].duplicated().sum()
num_duplicates = df['Respondent'].duplicated().sum()
num_duplicates = df['Respondent'].duplicated().sum()
print(num_duplicates )

154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [21]:
# your code goes here
df_no_duplicates = df.drop_duplicates()

Verify if duplicates were actually dropped.

In [22]:
# your code goes here
df.shape

(11552, 85)

## Finding Missing values

Find the missing values for all columns.

In [11]:
# your code goes here
missing_values = df.isnull().sum()

print("Missing Values for Each Column:")
print(missing_values)

Missing Values for Each Column:
Respondent        0
MainBranch        0
Hobbyist          0
OpenSourcer       0
OpenSource       81
               ...
Sexuality       547
Ethnicity       683
Dependents      144
SurveyLength     19
SurveyEase       14
Length: 85, dtype: int64

Find out how many rows are missing in the column 'WorkLoc'

In [12]:
# your code goes here
df['WorkLoc'].isnull().sum()

32

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [13]:
# your code goes here
workloc_counts = df['WorkLoc'].value_counts()

print("Value Counts for the 'WorkLoc' Column:")
print(workloc_counts)

Value Counts for the 'WorkLoc' Column:
Office                                            6905
Home                                              3638
Other place, such as a coworking space or cafe     977
Name: WorkLoc, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [14]:
#make a note of the majority value here, for future reference
most_frequent_value = workloc_counts.idxmax()

print("Most Frequent Value in 'WorkLoc' column:", most_frequent_value)

Most Frequent Value in 'WorkLoc' column: Office

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [15]:
# your code goes here
df['WorkLoc'].fillna(most_frequent_value, inplace=True)

# Verify the changes by printing the value counts again
workloc_counts_after_imputation = df['WorkLoc'].value_counts()
print("Value Counts for 'WorkLoc' column after imputation:")
print(workloc_counts_after_imputation)

Value Counts for 'WorkLoc' column after imputation:
Office                                            6937
Home                                              3638
Other place, such as a coworking space or cafe     977
Name: WorkLoc, dtype: int64

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [16]:
# your code goes here
workloc_counts_after_imputation = df['WorkLoc'].value_counts()
print("Value Counts for 'WorkLoc' column after imputation:")
print(workloc_counts_after_imputation)

Value Counts for 'WorkLoc' column after imputation:
Office                                            6937
Home                                              3638
Other place, such as a coworking space or cafe     977
Name: WorkLoc, dtype: int64

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [17]:
# your code goes here
compfreq_categories = df['CompFreq'].unique()

print("Categories in the 'CompFreq' column:")
print(compfreq_categories)

Categories in the 'CompFreq' column:
['Yearly' 'Monthly' 'Weekly' nan]

In [26]:
df['CompFreq']

0         Yearly
1         Yearly
2         Yearly
3        Monthly
4         Yearly
          ...
11547     Yearly
11548     Yearly
11549     Yearly
11550     Yearly
11551        NaN
Name: CompFreq, Length: 11552, dtype: object

In [27]:
df['ConvertedComp']

0         61000.0
1         95179.0
2         90000.0
3        455352.0
4         65277.0
           ...
11547    130000.0
11548     19880.0
11549    105000.0
11550     80371.0
11551         NaN
Name: ConvertedComp, Length: 11552, dtype: float64

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [28]:
# your code goes here
# Define a function to normalize compensation based on frequency
def normalize_compensation(row):
    comp = row['ConvertedComp']
    freq = row['CompFreq']

    if freq == 'Yearly':
        return comp
    elif freq == 'Monthly':
        return comp * 12
    elif freq == 'Weekly':
        return comp * 52
    elif freq == 'Daily':
        return comp * 5 * 52
    else:
        return pd.NA

# Create the new column 'NormalizedAnnualCompensation'
df['NormalizedAnnualCompensation'] = df.apply(normalize_compensation, axis=1)

# Display the DataFrame with the new column
print(df[['CompFreq', 'ConvertedComp', 'NormalizedAnnualCompensation']])

      CompFreq  ConvertedComp NormalizedAnnualCompensation
0       Yearly        61000.0                      61000.0
1       Yearly        95179.0                      95179.0
2       Yearly        90000.0                      90000.0
3      Monthly       455352.0                    5464224.0
4       Yearly        65277.0                      65277.0
...        ...            ...                          ...
11547   Yearly       130000.0                     130000.0
11548   Yearly        19880.0                      19880.0
11549   Yearly       105000.0                     105000.0
11550   Yearly        80371.0                      80371.0
11551      NaN            NaN                         <NA>

[11552 rows x 3 columns]

In [32]:
  # df['EdLevel'].isnull().sum()

# Find the number of blank rows in the 'EdLevel' column
num_blank_rows = df['EdLevel'].isnull().sum()

# Display the result
print("Number of blank rows in 'EdLevel' column:", num_blank_rows)

Number of blank rows in 'EdLevel' column: 116

In [33]:
df['Country'].isnull().sum()

0

In [37]:
#majority categories under the column Employement
df['Employment'].value_counts()

Employed full-time    11113
Employed part-time      439
Name: Employment, dtype: int64

In [38]:
df['Employment'].value_counts().idxmax()

'Employed full-time'

In [40]:
df['UndergradMajor'].value_counts()

Computer science, computer engineering, or software engineering          7053
Information systems, information technology, or system administration     806
Another engineering discipline (ex. civil, electrical, mechanical)        769
Web development or web design                                             417
A natural science (ex. biology, chemistry, physics)                       409
Mathematics or statistics                                                 375
A business discipline (ex. accounting, finance, marketing)                247
A social science (ex. anthropology, psychology, political science)        212
A humanities discipline (ex. literature, history, philosophy)             209
Fine arts or performing arts (ex. graphic design, music, studio art)      165
I never declared a major                                                  126
A health science (ex. nursing, pharmacy, radiology)                        24
Name: UndergradMajor, dtype: int64

In [41]:
df['ConvertedComp']

0         61000.0
1         95179.0
2         90000.0
3        455352.0
4         65277.0
           ...
11547    130000.0
11548     19880.0
11549    105000.0
11550     80371.0
11551         NaN
Name: ConvertedComp, Length: 11552, dtype: float64

In [43]:
df['CompFreq'].unique()

array(['Yearly', 'Monthly', 'Weekly', nan], dtype=object)

In [45]:
df['NormalizedAnnualCompensation'].median()

110000.0

In [46]:
# Remove duplicate rows
df_no_duplicates = df.drop_duplicates()

# Count the number of respondents being paid yearly
num_yearly_paid = df_no_duplicates['CompFreq'].value_counts()['Yearly']

print("Number of respondents being paid yearly after removing duplicates:", num_yearly_paid)

Number of respondents being paid yearly after removing duplicates: 6073

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).